*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Raleway', 'Arial', sans-serif;
}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.huge-container {
    max-width: 1600px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}