.overlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 50000000;
        display: flex;
}
.modal{
    background-color: white;
    z-index: 50000000000;
    width: 450px;
    height: 450px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-self: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    }
    .no__active--modal{
        display: none;
    }
    .no__active--overlay{
        display: none;
    }
    .modal__exitButton{
        margin-left: 400px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        color: lightgray;
        background-color: transparent;
        border: 0px ;
        font-size: 40px;
    }
    .modal__h1{
    width: 321px;
    height: 44px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #2B7AF1;
    margin-left: 50px;
    }
    .modal__p{
    width: 369px;
    height: 44px;
    top: 114px;
    left: 40px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;
    margin-left: 30px;
    margin-bottom: 30px;
    }
    .modal__input{
    width: 313px;
    height: 42px;
    top: 188px;
    left: 68px;
    border-radius: 10px  ;
    border: 1 solid #11111180 ;
    color: #11111180;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    }
    .modal__button{
        width: Fixed (200px);
        height: Hug (50px);
        top: 317px;
        left: 125px;
        padding: 15px 30px 15px 30px;
        gap: 10px;
        border-radius: 25px  ;
        background-color: #FF7A00;
        color: white;
        border: none;
        margin-top: 15px;
    }
    .background{
    width: 750px;
    height: 810px;
    left: 690px;
    border-radius: 0 0 0 10;
    background-color: #2B7AF1;
    z-index: 100;
    position: fixed;
    text-align: right;
    }
    .header{
        display: flex;
        z-index: 10000;
        position: fixed;
        align-items: center;
    }
    .header__ul{
        display: flex;
    }
    .header__ul--li{
        list-style-type: none;
    }
    .header__ul--li-a{
        text-decoration: none;
        color: black;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 40px;
    }
    .header__ul--li-a :hover{
        color: black;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 40px;
    }
    .logo{
        margin-right: 55px;
    }
    .orderCall{
    width:218px;
    height: 52px;
    top: 25px;
    left: 1142px;
    padding: 15 30 15 30;
    gap: 10px;;
    border-radius: 25px;   
    color: white;
    background-color: #FF7A00;
    margin-left: 25px;
    border: none;
    }
    .hero{
        display: flex;
        height: 473px;
        width: 100%;
        z-index: 10000;
    }
    .hero__content{
        justify-content: space-between;
        width: 413px;
        // text-align: center;
        margin-right: 52px;
        margin-top: 136px;
    }
    .hero__content--h1{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
    }
    .hero__content--p{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
    }
    .hero__content--button{
    width: 251px;
    height: 52px;
    top: 464px;
    left: 80px;
    padding: 15 30 15 30;
    gap: 10px;
    border-radius: 25px  ;
    background-color: #FF7A00;
    color: white;
    border: none;
    margin-top: 60px;
    }
    .hero__img{
    width: 895px; 
    height: 473px;
    margin-top: 140px;
    z-index: 10000;
    text-align: right;
    margin-left: -7px;
    }
    .gambr_gumbr{
        display: none;
    }
    .phoneRound{
        display: none;
    }
    .mailRound{
        display: none;
    }





    @media only screen and (min-width: 1020px) {
        .container{
            max-width: 1000px;
            padding: 0 20px;
            margin: 0 auto;
        }
        .gambr_gumbr{
            display: block;
            margin-right: 40px;
        }
        .header__ul{
            display: none;
        }
        .logo{
            margin-left: 40px;
            margin-right: 242px;
        }
        .emailIcon{
            margin-left: 115px;
        }
        .background{
            width: 750px;
            height: 509px;
            left: 690px;
            border-radius: 0 0 0 10;
            background-color: #2B7AF1;
            z-index: 100;
            position: fixed;
            text-align: right;
            margin-left: -90px;
            }
            .hero{
                flex-wrap: wrap;
                align-items: center;
            }
            .hero__img{
                width: 745px; 
                height: 257px;
                z-index: 10000;
                text-align: right;
                margin-left: 51px;
                }
                .telefonIcon{
                    margin-right: 40px;
                    margin-left: 40px;
                }
      }
      
    @media only screen and (min-width: 768px) {
        .emailIcon{
            display: none;
        }
         .hero__img{
            width: 530px; 
            height: 257px;
            z-index: 10000;
            text-align: right;
            margin-left: -17px;
            }
            .background{
                width: 492px;
                height: 509px;
                left: 690px;
                border-radius: 0 0 0 10;
                background-color: #2B7AF1;
                z-index: 100;
                position: fixed;
                text-align: right;
                margin-left: -115px;
                }
                .telefonIcon{
                    margin-right: 40px;
                    margin-left: 40px;
                }
                .gambr_gumbr{
                    display: block;
                    margin-right: 40px;
                }
                .header__ul{
                    display: none;
                }
    }
    @media  only screen and (max-width : 480px) {
        .emailIcon{
            display: none;
        }
        .phoneIcon{
            display: none;
        }
        .phoneRound{
            margin-right: 15px;
        }
        .logo{
            margin-left: 40px;
            margin-right: 226px;
        }
        .emailIcon{
            display: block;
        }
        .background{
            width: 236px;
            height: 566px;
            left: 690px;
            border-radius: 0 0 0 10;
            background-color: #2B7AF1;
            z-index: 100;
            position: fixed;
            text-align: right;
            margin-left: -90px;
            position: fixed;
            }
            .hero__content{
                justify-content: space-between;
                width: 413px;
                // text-align: center;
                margin-right: 52px;
                margin-top: 136px;
                z-index: 50000000000000000000000000000000;
                position: fixed;
            }
            .hero__img{
                width: 464px; 
                height: 257px;
                z-index: 10000;
                border-radius: 10px, 0, 0, 10px;
                position: fixed;
                }
                .gambr_gumbr{
                    display: block;
                    margin-right: 40px;
                }
                .header__ul{
                    display: none;
                }
                .hero__content--h1{
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: 800;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: white;
                }
                .hero__content--p{
                    font-family: Monteserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0.01em;
                    text-align: center;
                    color: white;
                }
                .hero__content--button{
                    width: 251px;
                    height: 52px;
                    top: 464px;
                    left: 80px;
                    padding: 15 30 15 30;
                    gap: 10px;
                    border-radius: 25px  ;
                    background-color: #FF7A00;
                    color: white;
                    border: none;
                    margin-top: 60px;
                    text-align: center;
                }
                  .hero__content{
                    justify-content: space-between;
                    width: 238px;
                    // text-align: center;
                    margin-right: 52px;
                    margin-top: 136px;
                    z-index: 50000000000000000000000000000000;
                    position: fixed;
                    margin-left: 100px;
                }
    }
